.hero-image {
  max-height: 600px;
}

section {
  margin: 2rem 1rem 0rem 0rem;
}

.hero-container {
  height: calc(100vh-5vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-container {
  flex: 1;
}

.right-container > p {
  font-size: 18px;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 1rem 0rem;
}

.about-us-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 equal-width columns */
  gap: 2rem;
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 3rem;
}

.contact-us > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contact-us > div > span {
  font-size: var(--font-large);
}

.contact-us-container {
  padding: 0rem 0rem 4rem 0rem;
}

.project-container{
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .about-us-card {
    flex-wrap: wrap;
  }

  .hero-container {
    flex-direction: column;
    height: auto;
  }

  .experience-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .hero-image {
    max-width: 300px;
  }
}

.about-content {
  font-size: 18px;
  padding: 1rem;
  line-height: 1.5;
}
